.admin-container {
  height: 100vh;
  background: #705656;
  color: rgb(24, 5, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-family: Arial;
}

.admin-container h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.admin-input {
  width: 300px;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid rgb(150, 150, 150);
  outline: none;
  font-size: 20px;
}

.admin-btn {
  width: 300px;
  padding: 12px;
  background: rgb(255, 153, 0);
  border: none;
  border-radius: 6px;
  color: rgb(58, 11, 11);
  font-size: 20px;
  cursor: pointer;
}

.admin-btn:hover {
  background: rgb(210, 98, 0);
}

.admin-btn.open {
  background: rgb(224, 235, 224);
}

.admin-btn.open:hover {
  background: rgb(253, 254, 253);
}

.admin-btn.close {
  background: rgb(36, 180, 77);
}

.admin-btn.close:hover {
  background: rgb(3, 94, 28);
}

.status {
  margin-top: 15px;
  font-size: 25px;
}
