.vote-container {
  background: rgb(108, 121, 70);
  color: white;
  min-height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.title {
  color:   rgb(8, 35, 8);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.no-data {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.candidate-card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #333;
  transition: 0.3s;
}

.candidate-card:hover {
  transform: translateY(-5px);
  background: #161616;
}

.candidate-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.candidate-votes {
  font-size: 16px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.vote-btn {
  background:rgb(11, 108, 11);
  border: none;
  padding: 12px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: 0.3s;
}

.vote-btn:hover {
  background: #0353e9;
}
