.reg-container {
  height: 100vh;
  width: 100%;
  background: #888325;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: white;
  padding: 20px;
}

.reg-title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reg-input {
  width: 320px;
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid #444;
  background: #111;
  color: white;
  font-size: 18px;
}

.reg-input:focus {
  outline: none;
  border-color: #0ff;
  background: #000;
}

.reg-btn {
  width: 340px;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  background:rgb(108, 91, 72) ;  
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.reg-btn:hover {
  background: rgb(80, 57, 31);
  transform: scale(1.03);
}
